<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="callUs.css" />
</head>
<body>
  <div class="allScreen">
    <button class="close">x</button>
    <div class="window">
      <div class="name_block">
        <h2 class="name_text">Имя</h2>
        <input class="name_field">
      </div>
      <div class="phone_block">
        <h2 class="phone_text">Номер телефона</h2>
        <input class="phone_field">
      </div>
      <button class="send">Связаться</button>
    </div>
  </div>
</body>
<script src="./js/functions.js"></script>
<script src="./js/script.js"></script>
</html>